@model IEnumerable<WebAttendance.Areas.Identity.Data.ApplicationUser>

<h1 class="bg-info text-white">Всички потребители</h1>

<table class="table table-sm table-bordered">
    <tr><th>ID</th><th>Потребителско име</th><th>Мейл</th><th>Имена</th><th>Акад.степен</th><th>Редакция</th><th>Изтриване</th></tr>
    @foreach (var user in Model)
    {
<tr>
    <td>@user.Id</td>
    <td>@user.UserName</td>
    <td>@user.Email</td>
    <td>@user.OfficialName</td>
    <td>@user.Description</td>
    <td>
        <a class="btn btn-sm btn-primary" asp-action="Update" asp-route-id="@user.Id">
            Редакция
        </a>
    </td>
    <td><button class="btn btn-sm btn-danger deleteUser" onclick="confirmAction()" value="@user.Id" role="button">Изтриване</button></td>
</tr>
    }
</table>


@section Scripts {

    <script>
        function confirmAction() {
        }

        $(document).ready(function () {
            $(".deleteUser").on("click", function (e) {

                e.preventDefault();

                let confirmAction = confirm("Потвърджавате ли изтриването?");
                if (!confirmAction) {
                    alert("Изтриването отменено");
                    return
                }
                alert("Действието е извършено успешно");


                var userId = $(this).val();

                $.ajax({
                    type: 'POST',
                    url: '/Admin/Delete',
                    data: { Id: userId },
                    success: function (data) {
                        $("#message").html(data);
                        location.reload();
                    }

                });

            });

            $("#searchTextId").on("keyup", function () {
                var searchTextId = $(this).val();
                if (searchTextId != undefined && searchTextId != "") {
                    console.log(searchTextId);
                    $(".tableRows").hide();
                    $("td:contains(" + searchTextId + ")").parent().show();

                }
                else {
                    $(".tableRows").show();
                }
            });
        });

    </script>
}