@model WebAttendance.Models.ViewModels.ProgramsViewModel

<h1>Редакция на специалност </h1>

<div asp-validation-summary="All">   </div>
<form method="post" asp-controller="Discipline" asp-action="EditDiscipline">
    <input type="hidden" asp-for="@Model.Programs.Id" />
    <div class="border p-3">
        <div class="form-group row">
            <h2>Моля редактирайте</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="form-group row">
                    <div class="col-4">
                        <label asp-for="@Model.Programs.Name"></label>
                        <input asp-for="@Model.Programs.Name" class="form-control" />
                    </div>
                    <div class="col-4">
                        <label asp-for="@Model.Programs.DegreesId"></label>
                        <select id="ProgramsList" asp-for="@Model.Programs.DegreesId" asp-items="@ViewBag.degreesNames" class="form-control">
                            
                        </select>
                    </div>
                    <p> </p>
                    <div class="form-group row">
                        <div class="col-2">
                            <input type="submit" class="btn btn-info w-75" value="Обнови" />
                        </div>
                        <div class="col-2">
                            <a asp-action="Index" class="btn btn-danger w-75">Назад</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}