@model IEnumerable<WebAttendance.Models.Attendance>
@using Microsoft.AspNetCore.Identity
@using WebAttendance.Data.Models
@using WebAttendance.Areas.Identity.Data

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<h1>Отработени академични часове</h1>


<div class=" container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <div asp-validation-summary="All">   </div>
        </div>
    </div>


    <div class="input-group">
        <div class="col-4">  <a asp-area="" asp-controller="Attendance" asp-action="CreateAttendance" class="btn btn-primary">Въвеждане на отработени часове</a> </div>

        <div class="form-outline">
            <input type="text" id="searchTextId" class="form-control" placeholder="Търсене" />
        </div>
        <button type="button" class="btn btn-primary">
            <i class="fa fa-search"></i>
        </button>



        <div class="col-2">   </div>


        <div class="col-2">
            <form action="/Attendance/LoggedUser" method="get">
              
                    <select id="selectedMode" class="form-control" name="Mode" onchange="javascript:this.form.submit()">
                        <option selected disabled value="">филтър</option>
                        <option value="редовно">редовно</option>
                        <option value="задочно">задочно</option>
                        <option value="">всички</option>
                    </select>         
             </form>
            
        </div>
        @*<div> Filter </div>*@
    </div>

    @{TempData.Keep("semesterName"); }
    <p> <div>@TempData["semesterName"] </div></p>

    @if (Model.Count() > 0)
    {
        <table class="table-dark table table-bordered table-striped" id="tableRepeat">

            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Степен</th>
                    <th>Вид</th>
                    <th>Курс</th>
                    <th>Група</th>
                    <th>Час.диапазон</th>
                    <th>Тип</th>
                    <th>Часове</th>
                    <th>Зала</th>
                    <th>Коментар</th>
                    <th>Дисциплина</th>
                    <th>Специалност</th>
                    <th>Редакт.</th>
                    @*<th>Дубликация</th>*@
                    <th>Изтриване</th>
                    <th>Мултиплициране</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var attendance in Model)
                {
                    <tr class="tableRows">
                        <td width="8%">@attendance.Date.ToShortDateString()</td>
                        <td width="8%">@attendance.Degree</td>
                        <td width="8%">@attendance.Mode</td>
                        <td width="4%">@attendance.Course</td>
                        <td width="8%">@attendance.Groupe</td>
                        <td width="12%">@attendance.Timeframe</td>
                        <td width="8%">@attendance.Type</td>
                        <td width="4%">@attendance.Hours</td>
                        <td width="4%">@attendance.Auditorium</td>
                        <td width="12%">@attendance.Note</td>
                        <td width="12%">@attendance.Subjects</td>
                        <td width="12%">@attendance.Programs</td>
                        <td><a class="btn btn-primary" asp-action="EditAttendance" asp-controller="Attendance" asp-route-AttendanceId="@attendance.Id" role="button">Редакция</a></td>
                        @*<td><a class="btn btn-primary" asp-action="CoppyAttendance" asp-controller="Attendance" asp-route-AttendanceId="@attendance.Id" role="button">Дублиране</a></td>*@
                        <td><button class="btn btn-danger deleteAttendance" onclick="confirmAction()" value="@attendance.Id" role="button">Изтриване</button></td>
                        <td>
                            <form asp-action="MultiplicationByAttendanceId" asp-controller="Attendance" asp-route-AttendanceId="@attendance.Id">
                                <div>
                                    <select name="MultiplicationLength" asp-items="@ViewBag.Times" onsubmit="javascript:this.form.submit()">
                                        <option selected disabled> ---брой----</option>
                                    </select>
                                </div>
                                <input type="submit" class="btn btn-info w-75" value="Мултипл." />
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        <a class="btn btn-primary" asp-action="Multiplication" asp-controller="Attendance" role="button">Мултиплициране за семестър-редовно обучение</a>
        <a class="btn btn-primary" asp-controller="Attendance" asp-action="UserHistory">Принт Преглед </a>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Назад </a>

    }
    else
    {
        <p class="raychevdanger"> Няма създадени записи </p>
        <a class="btn btn-primary" asp-controller="Home" asp-action="Index">Назад </a>
    }





</div>

<!-- Modal -->
<div id="deleteMessageModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        Modal content

        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Server Message</h4>
            </div>
            <div class="modal-body">
                <p id="message"> </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>


@section Scripts {

    <script>
        function confirmAction() {
        }

        $(document).ready(function () {
            $(".deleteAttendance").on("click", function (e) {

                e.preventDefault();

                let confirmAction = confirm("Потвърджавате ли изтриването?");
                if (!confirmAction) {
                    alert("Изтриването отменено");
                    return
                }
                alert("Действието е извършено успешно");

                var attendanceId = $(this).val();

                $.ajax({
                    type: 'POST',
                    url: '/Attendance/DeleteAttendance',
                    data: { AttendanceId: attendanceId },
                    success: function (data) {
                        $("#message").html(data);
                        $("#deleteMessageModal").modal("show");
                    }

                });

            });

            $("#deleteMessageModal").on("hidden.bs.modal", function () {
                location.reload();
            });

            $("#searchTextId").on("keyup", function () {
                var searchTextId = $(this).val();
                if (searchTextId != undefined && searchTextId != "") {
                    console.log(searchTextId);
                    $(".tableRows").hide();
                    $("td:contains(" + searchTextId + ")").parent().show();

                }
                else {
                    $(".tableRows").show();
                }
            });
        });



        $(function () {
            var modeValue = localStorage.getItem("modeValue");
            if (modeValue != null) {
                $("select[name=Mode]").val(modeValue);
            }

            $("select[name=Mode]").on("change", function () {
                localStorage.setItem("modeValue", $(this).val());
            });
        })
    </script>
}
